<head>
    <title>oBooks - Presentación</title>
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
</head>

<body>

    <div class="portada" id="1">
        <div style="position: absolute; right: 10px; top: 10px;">
            <img src='https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2Fpaula-brioso-7e3.alwaysdata.net%2FoBooks&chs=180x180&choe=UTF-8&chld=L|2' alt='qr code'>
            <a href='https://www.qr-code-generator.com' style='cursor:default' rel='nofollow'></a>
        </div>
        <div class="info">
            <div class="content">


                <div class="card">
                    <div class="container">
                        <img src="etc/citablanca.png" alt="cita" style="width: 50px; ">
                        <p>"Es un buen libro aquel que se abre con expectación y se cierra con provecho."</br>
                            </br><i></i>Bronson Alcott</i>
                        </p>
                    </div>
                </div>
                <div style="background-color: #cebcb3; border-radius: 5px; padding: 20px; color: #4b3a2d;">
                    <img src="images/icon.png" alt="obooks" style="width: 80px;">
                    <h1>oBooks</h1>
                    <h2>Les presentamos <strong>oBooks</strong>, una nueva aplicación para poder disfrutar de libros de manera gratuita.</br>
                        </br> Libre usabilidad para usuarios de Android y iOS.</br>Disponible en Play Store.</h2>
                    <a style="color: white; text-decoration: none;" target="_blank" href="https://drive.google.com/file/d/1EMkkuE1iasBdYXtmWKT7j59rTlVKT2HV/view?usp=sharing"><button type="button" class="button"><img src="images/download.png" alt="download" style="height: 2em; margin-right: 10px;">Descargar <strong>.apk</strong> </button></a>
                    <a style="color: white; text-decoration: none; " target="_blank" href="http://paula-brioso-7e3.alwaysdata.net/oBooks/"><button type="button" class="button"><img src="images/web.png" alt="web" style="height: 2em; margin-right: 10px;"> Úsala en <strong>navegador</strong></button></a>
                </div>
            </div>
            <div>
                <img src="images/mockupdoble.png" alt="img" style="height: 100vh;">
            </div>
            <!--<img class="buttonimg" src="images/green-down-arrow-icon.png" alt="v" style="width: 5em; height: 5em;">-->
            <!--  <button><img class="buttonimg" src="images/green-down-arrow-icon.png" alt="v" style="width: 5em; height: 5em;"></button>-->
        </div>
        <buton class="buttondef">
            <a href="#2"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
        </buton>
    </div>
    <div class="baseDivLight" id="2">
        <div class="info">
            <div>
                <img src="images/lectormockup.png" alt="lector" style="height: 100vh;">
            </div>
            <div style="color: #4b3a2d; display: flex; justify-content: center; flex-direction: column; width: 100%;">
                <div>
                    <h1 style="margin-bottom: 70px;">Lector de libros personalizable</h1>
                    <h2>Disfruta de tus libros de la forma que más te gusta</h2>
                    <h2>Varias opciones de personalización</h2>
                    <h2>Personaliza el color y tamaño de la letra, el color del fondo, el espaciado...</h2>
                    <h2>Navega por el libro más fácilmente con el índice de cápitulos</h2>
                    <h2>Guarda marcadores de página</h2>
                </div>
                <div style="text-align: center; width: 90%; margin-top: 40px;">
                    <img src="images/readingstyles.png" alt="reading styles" style="width: 100%;">
                </div>
            </div>
        </div>

        <buton class="buttondef">
            <a href="#3"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
        </buton>
    </div>
    <div class="baseDivDark " id="3">
        <div class="info">
            <div>
                <img src="images/books.png" alt="libs" style="height: 100vh;">
            </div>
            <div class="text" style="color: #f5ebe4; display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;">
                <div>
                    <h1 style=" margin-bottom: 70px; ">Explora</h1>
                    <h2>Descubre nuevas obras</h2>
                    <h2>Clasificados en categorías</h2>
                    <h2>Encuentra y lee las que ya conoces</h2>
                    <h2>Guárdatelos en bibliotecas y lista de favoritos para leerlos más tarde</h2>
                </div>
                <img src="images/searchingscreen.png" alt="searching page">
            </div>
        </div>
        <buton class="buttondef">
            <a href="#4"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
        </buton>
    </div>
    <div class="baseDivLight" id="4">
        <div class="info">
            <div style="text-align: center;">
                <img src="images/libs.png" alt="libs" style="height: 100vh;">
            </div>
            <div class="text" style="color: #4b3a2d; display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;">
                <div>
                    <h1 style=" margin-bottom: 70px; ">Bibliotecas</h1>
                    <h2>Crea todas las bibliotecas que quieras fácilmente</h2>
                    <h2>Personalizables con icono y color a elegir, para identificar más rápido tus bibliotecas</h2>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <img src="images/screenlib.png" alt="screen" style="height: 880px;">
                    <img src="images/creatinlibscreen.png" alt="screen" style="height: 900px;">
                </div>
            </div>
        </div>
        <buton class="buttondef">
            <a href="#5"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
        </buton>

    </div>
    <div class="baseDivDark" id="5">
        <div class="info">
            <div style="text-align: center;">
                <img src="images/tab1.png" alt="tab1" style="height: 100vh;">
            </div>
            <div class="text" style="color: #f5ebe4; display: flex; align-items: center;">
                <div>
                    <h1 style="margin-bottom: 70px;">Tu espacio</h1>
                    <h2>Disfruta de tu espacio</h2>
                    <h2>Guarda, descarta, ordena, lee y vuelta a empezar</h2>
                    <h2>Cualquiera de tus libros favoritos guardados en un click</h2>
                    <h2>Acceso rápido a los libros que te estás leyendo</h2>
                </div>
            </div>
        </div>
        <buton class="buttondef">
            <a href="#6"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
        </buton>
    </div>
    <div class="baseDivLight" id="6">
        <div class="info">
            <div class="text" style="color: #4b3a2d; background-color: #f5ebe4; display: flex; height: 100vh;">
                <div style="display: flex; justify-content: space-between; flex-direction: column; width: 100%;">
                    <div>
                        <h1 style="margin-bottom: 70px;">Tema claro</h1>
                        <h2>Diseño cómodo para leer en espacios iluminados</h2>
                        <h2>Comprensión lectora a todas horas y en cualquier ambiente</h2>
                    </div>
                    <div style="text-align: center; width: 100%;">
                        <img src="images/light.png" alt="screen" style="width: 90%;">
                    </div>
                </div>
            </div>
            <div class="text" style="color: #f5ebe4; background-color: #856348; display: flex; height: 100vh;">
                <div style="display: flex; justify-content: space-between; flex-direction: column; width: 100%;">
                    <div>
                        <h1 style="margin-bottom: 70px;">Tema oscuro</h1>
                        <h2>Mayor comodidad en espacios con menos luz</h2>
                        <h2>En baja iluminación y pantalla oscura, dañamos menos nuestra vista</h2>
                    </div>
                    <div style="text-align: center; width: 100%;">
                        <img src="images/dark.png" alt="screen" style="width: 90%;">
                    </div>
                </div>
            </div>
        </div>
        <buton class="buttondef">
            <a href="#7"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
        </buton>
    </div>
    <div class="baseDivDark" id="7">
        <div class="info">
            <div style="text-align: center;">
                <img src="images/offline.png" alt="tab1" style="height: 100vh;">
            </div>
            <div class="text" style="color: #f5ebe4; display: flex; align-items: center;">
                <div>
                    <h1 style="margin-bottom: 70px;">Libros sin conexión</h1>
                    <h2>Guarda libros en modo sin conexión para leer más tarde</h2>
                    <h2>Abre tus libros en formato .epub</h2>
                </div>
            </div>
        </div>
        <buton class="buttondef">
            <a href="#8"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
        </buton>
    </div>
    <div class="baseDivLight" id="8">
        <div class="info">
            <div class="text" style="color: #856348; display: flex; align-items: center; flex-direction: column; justify-content: center; height: 100vh;">
                <div>
                    <h1 style="margin-bottom: 70px;">Libros</h1>
                    <h2>Además de la posibilidad de leer, dispones de otras opciones</h2>
                    <h2>Agregarlo a favoritos</h2>
                    <h2>Añadirlo a una de tus bibliotecas</h2>
                    <h2>Descargarlo y acceder en el modo sin conexión</h2>
                    <h2>Compartir el libro con tus contactos</h2>
                </div>
                <img src="images/book.png" alt="book" width="600px" style="margin-top: 70px;">
            </div>
            <div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <img src="images/book2.png" alt="book detail">
            </div>
        </div>
        <buton class="buttondef">
            <a href="#9"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
        </buton>
    </div>

    <div class="baseDivDark" id="9">
        <div class="info">
            <div style="text-align: center;display: flex;flex-direction: row; align-items: center; justify-content: center;">
                <img src="images/lightsettingsmockup.png" alt="settingslight" style="height: 80vh;margin-top: 10%;">
            </div>
            <div class="text" style="color: #f5ebe4; display: flex; align-items: center;margin-left: 10%;">
                <div>
                    <h1 style="margin-bottom: 70px;">Opciones</h1>
                    <h2>Gestiona y edita tu cuenta</h2>
                    <h2>Consulta la ayuda y contacta con nosotros</h2>
                    <h2>Comparte la aplicación y ayúdanos a continuar creciendo</h2>
                </div>

            </div>

            <buton class="buttondef">
                <a href="#10"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
            </buton>

        </div>

    </div>
    <div class="baseDivLight" id="10">
        <div style="display: flex; align-items: center; justify-content: center;">

            <div style="color: #856348; display: flex; align-items: center; flex-direction: column; justify-content: center; height: 100vh;">

                <h1 style="margin-bottom: 60px;">Funcionamiento de oBooks</h1>

                <video src="images/FinalV2.mp4" controls></video>

            </div>

        </div>
        <buton class="buttondef">
            <a href="#11"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
        </buton>
    </div>

    <div class="baseDivDark" id="11">
        <div class="panel">
            <div class="text" style="color: #f5ebe4; ">
                <div>
                    <h1>Panel de administración</h1>
                    <h2 style="padding-top: 60px; ">Uso solo para administradores de oBooks</h2>
                    <h2>Facilitar al administrador el añadir libros</h2>
                    <h2>Facilitar al administrador el añadir ayudas de usuariio</h2>

                </div>
                <div style=" margin-left: 750px; margin-top: -120px;">

                    <img src="images/addBooks.PNG" alt="Add Book" style="height: 60vh">

                    <img src="images/addHelp.PNG" alt="Add Help" style="height: 30vh; margin-left: 20px;">
                </div>
            </div>
            <buton class="buttondef">
                <a href="#12"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
            </buton>

        </div>
    </div>

    <div class="baseDivLight" id="12">
        <div class="info">
            <div class="text" style="color: #856348; display: flex; align-items: center; flex-direction: row; height: 100vh; width: 100%;">
                <div style="width: 50%;">
                    <div style="text-align: center;">
                        <h1>Frontend</h1>
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <div style="text-align: center;">
                            <h2 style="margin-bottom: 60px;">Frameworks</h2>
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <img src="images/ionic.png" alt="ionic" style="height: 80px;">
                                <img src="images/angular.png" alt="angular" style="height: 135px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 50%;">
                    <div style="text-align: center;">
                        <h1>Backend</h1>
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        <div style="text-align: center;">
                            <h2>Framework</h2>
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <img src="images/laravel.png" alt="ionic" style="height: 140px;">
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <h2>Base de datos</h2>
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <img src="images/postgresql.png" alt="ionic" style="height: 140px;">
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <h2>Hosting</h2>
                            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                <img src="images/always.png" alt="ionic" style="height: 60px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <buton class="buttondef">
            <a href="#13"> <img src="images/brown-down-arrow-icon.png" style=" width: 3em;height: 3em;"></a>
        </buton>
    </div>



</body>

<footer style="color: #f5ebe4; background-color: #856348; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;" id="13">
    <div>
        <h1>¡Muchas gracias!</h1>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 20px; width: 60%;">
            <div style="display: flex; flex-direction: row; justify-content: center; gap: 20px; align-items: stretch;">
                <div class="footercard">
                    <div class="container">
                        <div style="text-align: center; margin-bottom: 30px;">

                            <img src="images/tree.png" alt="cita" style="height: 50px;">
                        </div>
                        <h2>Natàlia Mas, Sergi Diaz y Paula Brioso</h2>
                        <p>Estudiantes de desarroyo de aplicaciones web en entonos móviles</p>
                    </div>
                </div>
                <div class="footercard">
                    <div class="container">
                        <div style="text-align: center; margin-bottom: 30px;">

                            <img src="images/itb.png" alt="cita" style="height: 50px;">
                        </div>
                        <h2>Proyecto de estudiantes del Institut Tecnològic de Barcelona</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>