html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Questrial', sans-serif;
}

h1 {
    font-size: 50px;
}

.text {
    padding: 30px;
}

.portada,
.baseDivLight,
.baseDivDark {
    position: relative;
}

::-moz-selection {
    /* Code for Firefox */
    background: #867361;
}

 ::selection {
    background: #867361;
}

.baseDivDark {
    background-color: #856348;
    height: 100vh;
    margin: 0px;
}

.baseDivLight {
    background-color: #F7ECE6;
    height: 100vh;
    margin: 0px;
}

.portada {
    height: 100vh;
    margin: 0px;
    background-image: url("images/fonodportada.png");
    background-position: center;
    background-attachment: fixed;
}

.portada>.info,
.baseDivLight>.info,
.baseDivDark>.info {
    display: flex;
    color: white;
}

.portada>.info>div,
.baseDivLight>.info>div,
.baseDivDark>.info>div {
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.cita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.8s;
    background-color: #644e3c;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #7E6550;
}

.footercard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.8s;
    background-color: #d4bfb3;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.footercard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #F7ECE6;
}

.card>.container {
    padding: 2px 16px;
}

.footercard>.container {
    padding: 2px 16px;
    color: #856348;
}


/*no sensess: */

.button {
    background-color: #856348;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #664f3b;
    transition: 0.8s;
}

.button:hover {
    background-color: #7E6550;
}

.buttondef {
    position: absolute;
    background-color: #486F44;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.8s;
    text-align: center;
    left: 49%;
    bottom: 20px;
}

.buttondef:hover {
    background-color: #97BD93;
}

.buttondef>img {
    width: 4em;
    height: 4em;
}